:root {
  /* --red-border: 1px solid red; */
  /* Old Colours */
  /* --one: #f8f9fa;
  --two: #e9ecef;
  --three: #dee2e6;
  --four: #ced4da;
  --five: #989fa7;
  --six: #6c757d;
  --seven: #495057;
  --eight: #343a40;
  --nine: #212529;
  --ten: #0c0b0c;
  --eleven: #131415; */
  --radius: 8px;
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-block-bg: rgb(46, 46, 51);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);

  /* --cards-display: flex; flex or none */
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-word;
  background: var(--theme);

  margin-top: 1em;
  width: 45em;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-size-adjust: 100%;
}

p {
  line-height: 1.5em;
}

#top-row {
  align-items: center;
  display: flex;
  gap: 1.6em;
  border: var(--red-border);
}

#hi-my-name {
  color: var(--primary);
  margin-bottom: 0.7em;
  line-height: 1em;
  font-size: 34px;
}

.wwwwwh {
  color: var(--secondary);
  font-size: 16px;
  border: var(--red-border);
  padding-top: 2em;
  padding-right: 2em;
}

#alternatingText {
  color: var(--primary);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* font-weight: bold; */
}

.link {
  text-decoration: none;
  color: var(--primary);
  /* font-weight: bold; */
}

.link:hover {
  color: var(--primary);
  text-shadow: 0 0 5px var(--content), 0 0 5px var(--content), 0 0 5px var(--content);
}

.clickable {
  appearance: none;
  background-color: var(--entry);
  border-radius: var(--radius);
  border-width: 0;
  box-sizing: border-box;
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  line-height: 39px;
  min-width: 0;
  outline: none;
  padding: 16px 15px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10;
  will-change: transform;
}

.clickable:disabled {
  pointer-events: none;
}

.clickable:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 0px 45px 0px rgba(248, 249, 250, 0.08);
  -moz-box-shadow: 0px 0px 45px 0px rgba(248, 249, 250, 0.08);
}

.clickable:active {
  box-shadow: none;
  transform: translateY(0);
}


.outlined-box {
  appearance: none;
  background-color: var(--entry);
  border-width: 0;
  border-radius: var(--radius);
  box-sizing: border-box;
  color: var(--secondary);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  line-height: 39px;
  min-width: 0;
  padding: 16px 15px;
  text-align: center;
  width: 41em;
  margin-right: 1.2em;
}

#say-hi-form {
  display: flex;
  gap: 4em;
  border: var(--red-border);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  left: 140%;
  background-color: var(--entry);
  color: var(--secondary);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  width: auto;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}


/* Card Stuff */

.card-container {
  color: var(--primary);
  font-weight: 10;
  border: var(--red-border);
  display: flex;
  flex-wrap: wrap;
  gap: 1.8em;
  justify-content: center;
  height: 8.5em;
  display: var(--cards-display);
}

.card {
  height: 6em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  margin-top: 1em;
  padding: 0 0;
}

.original-text {
  display: block;
}

.hover-text {
  display: none;
  font-size: 0.8em;
}

.card:hover .original-text {
  display: none;
}

.card:hover .hover-text {
  display: block;
}

.card:hover .banner {
  background-image: none !important;
  background-color: var(--code-bg);
}

.banner {
  height: 100%;
  background: var(--ten);
  background-size: 45em;
  background-position: center;
  width: 100%;
  border-radius: 0.8em 0.8em 0 0;
}


/*
Statistics Page CSS
*/
.stats-grid {
  margin-top: 2em;
  border: var(--red-border);
  color: var(--primary);

  display: grid;
  grid-template-rows: repeat(6, 7em);
  grid-template-columns: repeat(6, 1fr);
  height: 100%;

  gap: 1em;
}

.grid-item {
  font-size: 1em;
  cursor: initial;
}

.dot {
  margin-top: 0.2em;
  height: 4em;
  width: 4em;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
}

#tft-card {
  padding-top: 0em;
}

#tft-card .pre-hover {
  display: flex;
}

#tft-card .post-hover {
  font-size: 1.6em;
  display: none;
  padding-top: 0.8em;
}

#tft-card:hover .pre-hover {
  display: none;
}

#tft-card:hover .post-hover {
  display: block;
}



.heatblock {
  border-radius: 1em;
  background-color: #ced4da;
  width: 1em;
  height: 1em;
  padding: 0em;
}

#heatmap {
  display: grid;
  grid-template-rows: repeat(5, 1em);
  grid-template-columns: repeat(16, 1fr);
  height: 100%;
  gap: 0.48em;
  padding-top: 0.6em;
  padding-left: 0.5em;
}

#device-status {
  padding-left: 1.5em;
  text-align: left;
  display: flex;
  gap: 3em;
  font-size: 1em;
  padding-left: 3em;
}

#class-info {
  font-size: 0.9em;
  padding-top: 0.8em;
  padding-left: 0.8em;
  text-align: left;
}

.card-link {
  text-decoration: none;
  color: var(--primary);
}



/* Card CSS */
#player-album-art {
  border: 0;
  border-radius: var(--radius);
  margin: 1em;
  max-height: 69px;
}

#player {
  color: var(--primary);
  filter: opacity(0.85);
  min-height: 55px;
  min-width: 320px;
  padding-top: 0.35em;
  font-size: 10px;
  font-weight: bold;
  max-width: 340px;
}
