@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #E7E5E7;
    margin: 0;
    height: 100%;
    overflow: hidden;
    animation: 0.5s fadeInUp;
}

.content {
    padding: 5em;
    text-align: center;
    align-items: center;
}

.content p {
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 1em;
}

h3 {
    margin: 1em;
}

.content .button {
    width: 8em;
    text-decoration: none;
    background-color: #cdb4db;
    border-radius: 10em;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.content .button:hover {
    background-color: #c97df5;
}

.myimg {
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
}

.iconimg {
    width: 3em;
    height: 3em;
    border-radius: 3em;
}

.socialicons {
    margin: 1em;
}




@keyframes fadeInUp {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
body {

}