{{ $style := resources.Get "css/gallery.css" | minify }}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
</head>

<body>
    <div class="gallery">
        <div class="row">
            <div class="column">
                {{ range $i, $photo := .Params.photos }}
                {{ if eq (mod $i 3) 0 }}
                <a href="{{ $photo }}">
                    <img src="{{ $photo }}">
                </a>
                {{ end }}
                {{ end }}
            </div>
            <div class="column">
                {{ range $i, $photo := .Params.photos }}
                {{ if eq (mod $i 3) 1 }}
                <a href="{{ $photo }}">
                    <img src="{{ $photo }}">
                </a>
                {{ end }}
                {{ end }}
            </div>
            <div class="column">
                {{ range $i, $photo := .Params.photos }}
                {{ if eq (mod $i 3) 2 }}
                <a href="{{ $photo }}">
                    <img src="{{ $photo }}">
                </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>
