{{ $style := resources.Get "css/style.css" | minify }}
{{ $projectsjs := resources.Get "js/projects.js" | minify }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rithika Silva - Projects</title>
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
    {{ partial "header" .}}
    {{ range .Params.Projectdata }}
    <a href="{{ .Link }}" style="text-decoration: none;">
        <div class="card clickable">
            <div class="banner" style="{{ .ImageStyle | safeCSS }}">
                <div style="margin-top: 1em;">
                    <span class="hover-text">{{ .Description }}</span>

                </div>
            </div>
            <div class="card-text">
                <span class="original-text">{{ .Name }}</span>
                <span class="hover-text">{{ .Technologies }}</span>
            </div>
        </div>
    </a>
    {{ end }}
    <div>
        <p>&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;</p>
    </div>
</body>
</html>
