.bg-danger {
  background-color: rgb(134,55,123)!important;
}


.cardimg {
  width: 100%;
  max-width: 100px;
  height: auto;
}

p {
  font-family: 'Roboto Mono';
}

div {
  border-radius: 1rem;
}

h1 {
  border-radius: 1rem;
}

p {
  border-radius: 1rem;
}

