---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout title="Rithika Silva - Contact" description="Get in touch with me">
  <main class="mt-20 text-white max-w-4xl mx-auto p-6">
    <a href="/" class="text-gray-400 hover:text-gray-100 mb-8 inline-block">&larr; Back</a>
    <h1 class="text-4xl font-bold mb-8">Contact</h1>
    
    <Form />
  </main>
</Layout>