---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import MainCard from "../components/MainCard.astro";
import ContactsCard from "../components/ContactsCard.astro";
import TimeZone from "../components/TimeZoneCard.astro";
import Context from "../components/Context.astro";
import Spotify from "../components/Spotify.astro";
import Form from "../components/Form.astro";
import Content from "../components/Card/Content.astro";
import IAm from "../components/IAm.astro"
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout title="Rithika Silva" description="">
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[950px]"
  >
    <MainCard />
    <Context />
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Resume" href="static/resume.pdf"/>
    <ContactsCard />
    <TimeZone />
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Projects" href="projects"/>
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Gallery" href="gallery" />
    <Spotify />
    <IAm colSpan="md:col-span-1" rowSpan="md:row-span-2 flex gap-4" />
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Blog" href="https://rithikasilva.ca/b.log-/"/>
    <Card colSpan="col-span-1 md:col-span-3 lg:col-span-1" rowSpan="md:row-span-1" title="Statistics" href="statistics"/>
    <Form />
  </main>
</Layout>
