---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="At a Glance">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        In the past, I've worked at:
      </p>
      <ul class="list-disc list-inside">
        <li>???</li>
        <li>Huawei</li>
        <li>Ford</li>
        <li>BlackBerry</li>
        <li>Arctic Wolf</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      <!-- Some explanatory paragraph. -->
    </p>
    <p class="text-sm font-light">
      <!-- Further explanatory paragraph. -->
    </p>
  </div>
</Card>
