---
import Button from './Button.astro';
import { Icon } from 'astro-icon/components';

---
<div class="z-40 w-full h-full fixed lg:pt-20 lg:pl-20 lg:block hidden">
    <a class="ml-2" href="../" aria-label="home" target="">
        <Button aria-label="home">
          <Icon name="ri:home-2-fill" class="h-6" />
          <span class="sr-only">Home</span>
        </Button>
      </a>
</div>
