---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2 gap-4" title="I am...">
  <p id="alternatingText" class="text-lg font-light fade-text min-h-[100px] max-w-[200px] min-w-[150px]">
    Some
  </p>
</Card>

<style>
  .fade-text {
    transition: opacity 0.7s ease;
  }
</style>

<script is:inline>
  document.addEventListener('DOMContentLoaded', function() {
    const textArray = [
      `coding to help you get back to doing things you enjoy, faster.`,
      `debugging my life, one line at a time.`,
      'severely lacking sleep. No really, I mean it.',
      `exploring the digital frontier.`,
      `probably refactoring my configs for the 1000th time.`,
      `looking for more things to add here (._.).`,
      `looking for more songs to listen to!`
    ];
    let currentIndex = 0;
    const longest = textArray.reduce((max, str) => Math.max(max, str.length), 0);

    const textElement = document.getElementById('alternatingText');

    function updateText() {
      textElement.style.opacity = 0;
      setTimeout(function () {
        textElement.innerHTML = textArray[currentIndex].padEnd(longest);
        textElement.style.opacity = 1;
        currentIndex = (currentIndex + 1) % textArray.length;
      }, 500); 
    }

    setInterval(updateText, 6000); 
    updateText(); 
  });
</script>

