---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components'
import { Image } from "astro:assets";
import Link from "./Link.astro";
---

<Card colSpan="md:col-span-3" rowSpan="lg:row-span-4 md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <p class="m-0 pb-6 font-light text-2xl">
          Hi! I'm Rithika.
        </p>
        <p class="m-0 font-light text-lg leading-relaxed">
          I am a student studying 
          <a class="font-normal" href="https://uwaterloo.ca/">Computer Science @ UWaterloo</a> 
          and a 
		  <a class="font-normal">System Software Engineer</a>.
		  I enjoy working on systems-level code, performance engineering, and building tools that support complex infrastructure. 
		  I have a particular interest in: 
              <span class="font-normal">combinatorics</span>,
              <span class="font-normal">mathematical optimization</span>, and
              <span class="font-normal">developer tooling</span>.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.threads} aria-label="threads profile" target="_blank">
          <Button aria-label="threads profile">
            <Icon name="ri:threads-fill" class="h-6" />
            <span class="sr-only">Threads Profile</span>
          </Button>
        </a>
        <a href="https://rithikasilva.ca/b.log-/" aria-label="blog" target="_blank">
          <Button aria-label="blog">
            <Icon name="ri:quill-pen-fill" class="h-6" />
            <span class="sr-only">Blog</span>
          </Button>
        </a>
      </div>
    </div>
  </div>
</Card>


