---
import Card from "./Card/index.astro";
import { Image } from "astro:assets";


interface Props {
    name?: string;
    technologies?: string;
    image?: string;
    link?: string;
}

const {name, technologies, image, link} = Astro.props;
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-6">
  <a href={link ? link : "#"} class={link ? "" : "pointer-events-none cursor-default"}>
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between gap-1">
      <div class="flex flex-col h-full">
        <p class="font-normal text-xl m-0">
            {name}
        </p>
        <p class="text-lg font-light text-primary-200">
          {technologies}
        </p>
        <h1 class="font-light mr-2">
          <slot />
        </h1>
      </div>
    </div>
    <img src={image ? image : "https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png"}
    class="rounded-lg w-25 h-25 aspect-square ml-auto self-center outline-none bg-darkslate-200 object-cover">
  </div>
  </a>
</Card>
