---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Spotify">
  <div class="min-w-[200px]">
    <div class="flex flex-col">
      <div class="my-1" id="player">
        <div class="flex md:gap-3 lg:gap-4">
          <div class="flex flex-col justify-between order-first max-w-30">
            <div>
              <div class="text-sm" id="player-song">Nothing</div>
              <div class="text-sm" id="player-artist">by Nobody</div>
              <div class="text-sm" id="player-progress"></div>
            </div>
            <div class="text-sm font-serif" id="player-time">0:00/0:00</div>
          </div>
          <a class="order-last ml-1 lg:ml-3 aspect-square" id="player-link" href="">
            <img
              class="rounded-lg size-15 sm:size-20 bg-darkslate-200 outline-none"
              id="player-album-art"
              src="https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png"
            />
          </a>
        </div>
        <script src="../lib/spotify.js"></script>
      </div>
    </div>
  </div>
</Card>
