<div id="say-hi-form">
        <form method="post" action="https://send.pageclip.co/tRArR4fhX60vYm6kpHS3sPEaApmoAZpV/contact-form">
                <input class="outlined-box" type="text" name="content"
                        placeholder="Have something to share? Let me know :)" />
                <input class="clickable" type="submit" style="width: 6em;" value="Send">
        </form>
</div>
<div class="tooltip" style="margin-left: 0.1em; margin-top: 0.7em;">
        <img style="width: 20px;" src="../help_24dp_666666_FILL0_wght400_GRAD0_opsz24.png">

        <span class="tooltiptext" style="width: 38em; font-size: 0.8em;">
                Really. This form is for anything YOU want to share. It doesn't have to be to contact me.
                Maybe you have a cool joke, a question, or a fun fact. I want to hear it.
        </span>
</div>
<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
